<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Problem Description - LeetCode Clone</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.11.0/beautify.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.11.0/beautify-html.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/theme/dracula.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/addon/hint/show-hint.min.css">
  <!-- <script src="script.js"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/darcula.min.css">
  <!-- Thay "darcula" bằng theme bạn muốn sử dụng -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/clike/clike.min.js"></script>
  <!-- Nhúng MathJax -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <link rel="stylesheet" href="/CSS/ProblemDetail.css">

  <style>
    .CodeMirror {
      height: min(70vh, 450px);
      width: 100%;
    }
  </style>

</head>

<body>

<div class="container">

  <div class="header">
    <div class="contest-info">
      <button id="restore">Mô tả</button>
      <button id="fetchDataButton">Đã nộp</button>
      <button class="icon-btn" onclick="prevProblem()"><i class="fas fa-arrow-left"></i></button>
      <button class="icon-btn" onclick="nextProblem()"><i class="fas fa-arrow-right"></i></button>
    </div>
  </div>
  <div class="body">

    <div class="split left visible" id="content">
      <h1 th:text="'Problem: ' + ${problem.problemEntity.name}"></h1>

      <div class="description">
        <p th:text="'Description: ' + ${problem.problemEntity.description}"></p>
      </div>
      <div th:each="example, i : ${problem.problemEntity.examples}" class="section">
        <h3 th:text="'Example ' + ${i.index + 1} + ':'"></h3>
        <pre>
            <div><strong class="example-label">Input:</strong></div> <div class="example-value" th:text="${example.input}"></div><br>
            <div><strong class="example-label">Output:</strong></div> <div class="example-value" th:text="${example.output}"></div>
        </pre>
      </div>

      <div class="section">
        <h2>Constraint:</h2>
        <ul>
          <!-- Sử dụng vòng lặp Thymeleaf để tạo danh sách -->
          <li th:each="line : ${problem.problemEntity.constraints.split('\n')}">
            <span th:text="${line}"></span>
          </li>
        </ul>
      </div>
      <div class="section">
        <h3>Note:</h3>
        <p>The input and output format is for the convenience of running the tests, you don't need to match it in your
          implementation.</p>

      </div>
    </div>
    <div class="split left hidden" id="new-content"></div>

    <div class="resize-bar" id="resize-bar"></div>

    <div class="split right">
      <div class="table-container">
        <table id="submissions-table">
          <thead>
          <tr>
            <th>ID</th>
            <th>Problem Name</th>
            <th>User ID</th>
            <th>Accepted</th>
            <th>Language</th>
            <th>Submitted At</th>
          </tr>
          </thead>
          <tbody>
          <!-- Sử dụng Thymeleaf để lặp qua danh sách submissions -->
          <tr th:each="submission : ${submits}">
            <td><a th:href="@{/showSubmitDetail(id=${submission.id}, problemID=${submission.problem_id})}" th:text="${submission.id}"></a></td>
            <td th:text="${submission.id}"></td>
            <td th:text="${submission.user.email}"></td>
            <td th:text="${submission.accepted}"></td>
            <td th:text="${submission.language}"></td>
            <td th:text="${submission.submitted_at}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>


</div>
<div class="popup" id="popup">
  <span class="close-btn" onclick="closePopup()">X</span>
  <button class="copy-btn" onclick="copyInput()">Copy</button>
  <div class="popup-content">
    <div class="input-pane" id="inputPane">
      <h2>Input</h2>
      <div class="scrollable-content" id="inputContent">
        <!-- Content from item.input will be inserted here -->
      </div>
    </div>
    <div class="output-pane">
      <div class="left-pane" id="leftPane">
        <h2>Output</h2>
        <div class="scrollable-content" id="outputContent">
          <!-- Content from item.output will be inserted here -->
        </div>
      </div>
      <div class="right-pane" id="rightPane">
        <h2>Expected Output</h2>
        <div class="scrollable-content" id="expectedOutputContent">
          <!-- Content from item.expectedOutput will be inserted here -->
        </div>
      </div>
    </div>
  </div>
</div>


<script src="/JS/ProblemDetailJS.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    Prism.highlightAll();
  });

  var editor = CodeMirror.fromTextArea(document.getElementById("code-editor"), {
    lineNumbers: true, // Hiển thị số dòng
    mode: "text/x-c++src", // Chọn ngôn ngữ C++
    theme: "darcula", // Chọn chủ đề (theme) cho CodeMirror
    extraKeys: { "Ctrl-Space": "autocomplete" } // Phím tắt để kích hoạt tính năng gợi ý
  });
</script>
<script th:inline="javascript">
  /*<![CDATA[*/
  var classID = [[${classID}]];
  var problemID = [[${problemID}]];
  /*]]>*/
</script>

</div>
</body>

</html>